<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Admin Page</title>
</head>
<body>

<div class="container-fluid">
    <div class="row">
        <div class="col">
            <nav class="navbar bg-dark justify-content-between">
                <div class="page-header text-white" th:object="${user1}">
                    <h1 th:text="${user1.email} + ' with roles: ' + ${user1.roles}"></h1>
                </div>
                <div class="form-inline">
                    <form th:action="@{/logout}" method="post">
                        <input type="submit" value="Logout" class="btn btn-dark btn-lg text-muted"/>
                    </form>
                </div>
            </nav>
        </div>
    </div>
</div>


<div class="p-8 mb-8 bg-light text-dark">
    <div class="container-fluid mt-3">
        <div class="row">
            <div class="col col-lg-">
                <div class="bg-white" style="height: 800px">
                    <!-- Links -->
                    <ul class="nav nav-tabs navbar-nav">
                        <li class="nav-item">
                            <!-- Первая вкладка Админ-->
                            <a class="nav-link active" data-toggle="tab" href="#adminpanel">Admin</a>
                        </li>
                        <li class="nav-item">
                            <!-- Вторая вкладка Юзер-->
                            <a class="nav-link" data-toggle="tab" href="#userpanel">User</a>
                        </li>
                    </ul>
                </div>
            </div>


            <div class="col col-lg-10">
                <div class="p-8 mb-8 bg-light text-dark">

                    <div class="tab-content">
                        <div class="tab-pane fade show active" id="adminpanel">

                            <h1 class="text-left">Admin Panel</h1>
                            <ul class="nav nav-tabs">
                                <!-- Первая вкладка (активная) Users Table-->
                                <li class="nav-item">
                                    <a class="nav-link active" data-toggle="tab" href="#description">Users Table</a>
                                </li>
                                <!-- Вторая вкладка New user-->
                                <li class="nav-item">
                                    <a class="nav-link" data-toggle="tab" href="#characteristics">New user</a>
                                </li>
                            </ul>

                            <!-- Все юзеры-->
                            <div class="tab-content">
                                <div class="tab-pane fade show active" id="description">
                                    <div class="table-bordered">
                                        <table class="table table-striped p-3">
                                            <div class="btn-group btn-group-xs" role="group" aria-label="...">
                                            </div>
                                            <h4 class="pl-3"> All users </h4>
                                            <thead>
                                            <tr>
                                                <th>ID</th>
                                                <th>First Name</th>
                                                <th>Last Name</th>
                                                <th>Age</th>
                                                <th>Email</th>
                                                <th>Role</th>
                                                <th>Edit</th>
                                                <th>Delete</th>
                                            </tr>
                                            </thead>
                                            <tbody class="px-6">
                                            <tr th:each="user : ${users}">
                                                <td th:text="${user.id}"></td>
                                                <td th:text="${user.name}"></td>
                                                <td th:text="${user.lastName}"></td>
                                                <td th:text="${user.age}"></td>
                                                <td th:text="${user.email}"></td>
                                                <td th:text="${user.roles}"></td>
                                                <td>
                                                    <a th:href="@{/admin/findOne/(id=${user.id})}"
                                                       class="btn btn-primary eBtn"> Edit </a>
                                                </td>
                                                <td>
                                                    <a th:href="@{/admin/delete/(id=${user.id})}"
                                                       class="btn btn-danger delBtn"> Delete </a>
                                                </td>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                        </table>
                                    </div>
                                </div>


                                <!-- Панель добавления юзеров-->
                                <div class="tab-pane fade" id="characteristics">
                                    <h4 class="p-3 pl-3"> Add new user </h4>
                                    <form action="#" th:action="@{/admin/create}" th:object="${user2}" th:method="POST">

                                        <div class="form-group row justify-content-center align-items-center">
                                            <div class="form-group form-group-sm col-md-5">
                                                <label for="userName-2">Username</label>
                                                <input id="userName-2" name="username" th:field="*{name}" type="text"
                                                       class="form-control required">
                                            </div>
                                        </div>

                                        <div class="form-group row justify-content-center align-items-center">
                                            <div class="form-group col-md-5">
                                                <label for="lastName">LastName</label>
                                                <input id="lastName" name="lastName" th:field="*{lastName}" type="text"
                                                       class="form-control required">
                                            </div>
                                        </div>

                                        <div class="form-group row justify-content-center align-items-center">
                                            <div class="form-group col-md-5">
                                                <label for="age">Age</label>
                                                <input id="age" name="age" th:field="*{age}" type="text"
                                                       class="form-control required">
                                            </div>
                                        </div>

                                        <div class="form-group row justify-content-center align-items-center">
                                            <div class="form-group col-md-5">
                                                <label for="email">Email</label>
                                                <input id="email" name="email" th:field="*{email}" type="text"
                                                       class="form-control required">
                                            </div>
                                        </div>

                                        <div class="form-group row justify-content-center align-items-center">
                                            <div class="form-group col-md-5">
                                                <label for="password-2">Password</label>
                                                <input id="password-2" name="password" th:field="*{password}"
                                                       type="text"
                                                       class="form-control required">
                                            </div>
                                        </div>


                                        <div class="form-group row justify-content-center align-items-center">
                                            <div class="form-group col-md-5">
                                                <label for="roles">Choose Role</label>
                                                <select class="form-control selectpicker" th:field="*{roles}" id="roles"
                                                        multiple>
                                                    <option th:each="role: ${setRoles}"
                                                            th:value="${role.id}"
                                                            th:text="${role.name}">
                                                    </option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group row justify-content-center align-items-center">
                                            <div class="modal-footer">
                                                <button type="submit" class="btn btn-success" data-dismiss="modal">Add
                                                    new user
                                                </button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>


                        <!-- Страничка юзера-->
                        <div class="tab-pane fade" id="userpanel">
                            <h4 class="p-3 pl-3"> User information page </h4>
                            <div class="table-bordered">
                                <table class="table table-striped p-3">
                                    <div class="btn-group btn-group-xs" role="group" aria-label="...">
                                    </div>
                                    <h4 class="pl-3"> All users
                                        <h4>
                                            <thead>
                                            <tr>
                                                <th>ID</th>
                                                <th>First Name</th>
                                                <th>Last Name</th>
                                                <th>Age</th>
                                                <th>Email</th>
                                                <th>Role</th>
                                            </tr>
                                            </thead>
                                            <tbody class="px-6">
                                            <tr th:object="${user1}">
                                                <td th:text="${user1.id}"></td>
                                                <td th:text="${user1.name}"></td>
                                                <td th:text="${user1.lastName}"></td>
                                                <td th:text="${user1.age}"></td>
                                                <td th:text="${user1.email}"></td>
                                                <td th:text="${user1.roles}"></td>
                                            </tr>
                                            </tbody>
                                </table>
                                </table>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div> <!-- Конец двух контейнеров-->
    </div>
</div>


<!--1-ое модальное окно -->
<div class="myForm">
    <form action="#" th:action="@{/admin/save}" method="POST">
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
             aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Edit user</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>

                    <div class="modal-body">

                        <div class="form-group">
                            <label for="id" class="col-form-label">id</label>
                            <input readonly type="text" class="form-control" id="id" name="id" value=""/>
                        </div>

                        <div class="form-group">
                            <label for="Username" class="col-form-label">Username</label>
                            <input type="text" class="form-control" id="Username" name="name" value=""/>
                        </div>

                        <div class="form-group">
                            <label for="lastName" class="col-form-label">lastName</label>
                            <input type="text" class="form-control" id="lastName" name="lastName" value=""/>
                        </div>

                        <div class="form-group">
                            <label for="age" class="col-form-label">age</label>
                            <input type="text" class="form-control" id="age" name="age" value=""/>
                        </div>

                        <div class="form-group">
                            <label for="email" class="col-form-label">email</label>
                            <input type="text" class="form-control" id="email" name="email" value=""/>
                        </div>

                        <div class="form-group">
                            <label for="password" class="col-form-label">password</label>
                            <input type="text" class="form-control" id="password" name="password" value=""/>
                        </div>

                        <div class="form-group">
                            <label for="roles" class="col-form-label">Role</label>
                            <select class="form-control selectpicker" id="roles" name="roles" value="" multiple>
                                <option th:each="role: ${setRoles}"
                                        th:value="${role.id}"
                                        th:text="${role.name}">
                                </option>
                            </select>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <input type="submit" value="Update User" class="btn btn-info"/>
                    </div>

                </div>
            </div>
        </div>
    </form>
</div>


<!--2-ое модальное окно -->
        <div class="modal fade" id="exampleModal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel1"
             aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel1">Delete user</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>

                    <div class="modal-body">

                        <div class="form-group">
                            <label for="id" class="col-form-label">id</label>
                            <input readonly type="text" class="form-control" id="id" name="id" value=""/>
                        </div>

                        <div class="form-group">
                            <label for="Username" class="col-form-label">Username</label>
                            <input readonly type="text" class="form-control" id="Username" name="name" value=""/>
                        </div>

                        <div class="form-group">
                            <label for="lastName" class="col-form-label">lastName</label>
                            <input readonly type="text" class="form-control" id="lastName" name="lastName" value=""/>
                        </div>

                        <div class="form-group">
                            <label for="age" class="col-form-label">age</label>
                            <input readonly type="text" class="form-control" id="age" name="age" value=""/>
                        </div>

                        <div class="form-group">
                            <label for="email" class="col-form-label">email</label>
                            <input readonly type="text" class="form-control" id="email" name="email" value=""/>
                        </div>

                        <div class="form-group">
                            <label for="password" class="col-form-label">password</label>
                            <input readonly type="text" class="form-control" id="password" name="password" value=""/>
                        </div>

                        <div class="form-check disabled">
                            <label for="roles" class="col-form-label">Role</label>
                            <select  class="form-control selectpicker" id="roles" name="roles" value="" multiple>
                                <option th:each="role: ${setRoles}"
                                        th:value="${role.id}"
                                        th:text="${role.name}" disabled>
                                </option>
                            </select>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <a href="" class="btn btn-danger" id="delRef">Delete</a>
                    </div>
                </div>
            </div>
        </div>


<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
<script type="text/javascript" src="../static/main.js" th:src="@{/main.js}"></script>
</body>
</html>
